:root {
  --sm: 16px;
  --md: 20px;
  --lg: 24px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vr;
  font-family: "Handlee", cursive;
  background-image: linear-gradient(turquoise, pink);
}
header {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: center;
  font-size: var(--md);
}
header p {
  font-size: var(--md);
}
section {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section h2 {
  font-size: var(--lg);
}
section form label,
input,
button {
  margin: 0.5em;
}
section form input {
  width: 30em;
  height: 22px;
  border: 1px solid lightskyblue;
  color: black;
}
section form label {
  font-weight: bold;
}
section form button {
  width: 30em;
  height: 22px;
  font-family: "Handlee", cursive;
  background-color: pink;
  border-style: none;
  border: 2px solid lightskyblue;
  font-weight: bolder;
  color: black;
  border-radius: 1em;
}
@media (max-width: 410px) {
  section form input {
    width: 85%;
  }
  section form button {
    width: 85%;
  }
}
